.benefits {
	padding: 6.4rem 0 6rem;

	&__head {
		align-items: center;
		gap: 13rem;
		margin-bottom: 7.1rem;
		padding-left: 7rem;
	}

	&__label {
		flex: 0 0 21.2rem;
		font-size: 1.2rem;
		line-height: 1.5rem;
		color: #68686b;
	}

	&__content {
		flex: 0 0 74rem;
		border-radius: 1.5rem;
		padding: 7.3rem 15.7rem 8rem 7.1rem;
		background-color: #fff;
	}

	&__item {
		display: none;
		flex-direction: column;
		height: 100%;
		color: $main-color;

		&.active {
			display: flex;
		}
	}

	&__number {
		flex: 1 1 auto;
		margin-bottom: 2rem;
		font-weight: 700;
		font-size: 4rem;
		line-height: 5rem;
		color: $accent-color;
	}

	&__name {
		margin-bottom: 3rem;
		font-weight: 700;
		font-size: 4rem;
		line-height: 5rem;
		color: $main-color;
	}

	&__descr {
		font-size: 2.4rem;
		line-height: 3.4rem;
		color: $gray-1;

		&:not(:last-child) {
			margin-bottom: 3.3rem;
		}
	}

	&__tabs {
		flex-wrap: wrap;
	}

	&__tab {
		position: relative;
		flex: 0 0 50%;
		padding: 6rem 5.5rem;
		min-height: 22.5rem;
		display: flex;
		align-items: center;
		justify-content: center;
		outline: 0.2rem solid #2d2d33;
		outline-offset: -0.1rem;
		border-radius: 1.5rem;
		font-weight: 500;
		font-size: 2.7rem;
		line-height: 3.4rem;
		text-align: center;
		color: $gray-1;
		transition: 0.3s ease;
		cursor: pointer;

		&:not(.active):hover {
			z-index: 2;
			color: $accent-color;
			outline-color: $accent-color;
			box-shadow: inset 0 0 2rem 1rem rgba(0, 0, 0, 0.2);
		}

		&.active {
			z-index: 2;
			background-color: $accent-color;
			outline-color: $accent-color;
			font-weight: 700;
			color: #fff;
		}
	}
}

@media (max-width: 768px) {
	.benefits {
		padding: 2.2rem 0 4.4rem;

		&__head {
			flex-direction: column;
			align-items: start;
			gap: 2.7rem;
			margin-bottom: 2.4rem;
			padding: 0;
		}

		&__title .accent {
			display: block;
			margin-bottom: 0.5rem;
		}

		&__label {
			flex-basis: auto;
			max-width: 20.7rem;
		}

		&__row {
			flex-direction: column-reverse;
		}

		&__content {
			flex-basis: auto;
			width: 100%;
			padding: 1.5rem 2rem 2.3rem;
		}

		&__number {
			flex: 0 0 auto;
			margin-bottom: 2.5rem;
			font-size: 2rem;
			line-height: 2.5rem;
		}

		&__name {
			margin-bottom: 1.2rem;
			font-size: 2rem;
			line-height: 2.5rem;
		}

		&__descr {
			font-size: 1.4rem;
			line-height: 2rem;

			&:not(:last-child) {
				margin-bottom: 1rem;
			}
		}

		&__tab {
			height: 9.4rem;
			padding: 1rem;
			min-height: auto;
			font-size: 1.4rem;
			line-height: 1.8rem;
		}
	}
}