$main-color: #16161c;
$accent-color: #30BF58;
$gray-1: #8d8d8d;
$gray-2: #575757;


html {
	font-size: 0.52085vw;
}

body {
	min-width: 320px;
	font-family: 'Cera Pro', sans-serif;
	font-style: normal;
	font-weight: 400;
	color: #fff;

	&.lock {
		overflow: hidden;
	}
}

button {
	font-family: 'Cera Pro', sans-serif;
	font-style: normal;
	font-weight: 400;
}

b {
	font-weight: 700;
}

@keyframes blick {
	0% {
		left: -100%;
	}

	100% {
		left: 200%;
	}
}

@keyframes loadingBg {
	0% {
		background-position: 2%;
	}

	100% {
		background-position: 100%;
	}
}

@keyframes draw {
	100% {
		stroke-dashoffset: 0;
	}
}

@keyframes radial-pulse {
	0% {
		box-shadow: 0 0 0 0 rgba($color: $accent-color, $alpha: 0.5);
	}

	100% {
		box-shadow: 0 0 0 1rem rgba(207, 241, 207, 0);
	}
}

@keyframes tabMoving {
	from {
		transform: translateX(7.5rem);
		opacity: 0;
	}

	to {
		transform: translateX(0);
		opacity: 1;
	}
}

@keyframes zoom {
	0% {
		transform: scale(1);
	}

	100% {
		transform: scale(1.2);
	}
}

.main {
	background-color: $main-color;
}

.animation {
	transition: 1s;
	opacity: 0 !important;
	transform: translateY(5.2083333333vw) !important;
}

.animation.visible {
	opacity: 1 !important;
	transform: translateY(0) !important;
}

.container {
	max-width: 164.5rem;
	margin: 0 auto;
}

.flex {
	display: flex;
}

.d-none {
	display: none;
}

.accent {
	color: $accent-color;
}

.underline {
	position: relative;

	&::after {
		content: '';
		position: absolute;
		bottom: -0.18rem;
		left: 0;
		width: 100%;
		height: 0.2rem;
		background-color: #fff;
	}
}

.conf {
	font-weight: 500;
	color: $accent-color;
	text-decoration: underline;
}

.visually-hidden {
	position: absolute;
	clip: rect(0.1rem 0.1rem 0.1rem 0.1rem);
	clip: rect(0.1rem, 0.1rem, 0.1rem, 0.1rem);
	padding: 0;
	border: 0;
	height: 0.1rem;
	width: 0.1rem;
	overflow: hidden;
}

// заголовки секций
.section-title {
	font-weight: 500;
	font-size: 6rem;
	// line-height: 10rem;
	line-height: 7.4rem;
	color: #fff;

	&__up {
		display: block;
		margin-bottom: 5.3rem;
		font-size: 15rem;
		line-height: 8.5rem;
		text-transform: uppercase;
	}

	.stroke svg {
		height: 120%;
	}
}

.stroke {
	position: relative;
	white-space: nowrap;

	svg {
		position: absolute;
		top: 50%;
		transform: translateY(-40%);
		left: -5%;
		width: 108%;
		height: 150%;
	}

	path {
		stroke: #30BF58;
		stroke-width: 1;
		stroke-dasharray: 2723;
		stroke-dashoffset: 2723;
	}

	&.active {
		path {
			animation: draw 1.4s ease-in 1s forwards;
			animation-iteration-count: 1;
		}
	}
}

// основные кнопки
.main-btn {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 1.6rem;
	width: fit-content;
	padding: 2.6rem 3.4rem;
	border-radius: 1.5rem;
	overflow: hidden !important;
	transition: background 0.3s ease-in-out, color 0.3s ease-in-out, transform 0.3s ease-in-out;
	cursor: default;

	&__text {
		position: relative;
		z-index: 3;
		font-family: 'Cera Pro';
		font-weight: inherit;
		font-size: inherit;
		line-height: inherit;
		text-align: center;
		letter-spacing: inherit;
		text-transform: uppercase;
		color: inherit;
	}

	&__arrow {
		flex: 0 0 2rem;
		width: 2rem;
		height: 2rem;
		transition: transform 0.3s ease;
	}

	&--green {
		font-weight: 700;
		font-size: 2rem;
		line-height: 1.6rem;
		background-color: $accent-color;
		color: white;
		letter-spacing: 0.05em;


		&:hover {
			background-color: darken($accent-color, $amount: 8%);

			.main-btn__arrow {
				transform: rotate(45deg);
			}
		}
	}

	&--transparent {
		padding: 2.6rem 4.6rem;
		font-weight: 500;
		font-size: 1.4rem;
		line-height: 1.6rem;
		text-transform: uppercase;
		color: $accent-color;
		letter-spacing: 0;
		border: 0.1rem solid $accent-color;
		background-color: transparent;
		transition-property: color, background-color;
		transition: 0.3s ease;
		z-index: 1;

		&::before,
		&::after {
			content: '';
			display: block;
			width: 0.5rem;
			height: 0.5rem;
			transform: translate(-50%, -50%);
			position: absolute;
			border-radius: 50%;
			z-index: -1;
			background-color: $accent-color;
			transition: 1s ease;
		}

		&::before {
			top: -1em;
			left: -1em;
		}

		&::after {
			left: calc(100% + 1em);
			top: calc(100% + 1em);
		}

		&:hover {
			color: #fff;

			&::before,
			&::after {
				width: 41rem;
				height: 41rem;
			}
		}
	}

	&:hover:not(:disabled),
	&:hover:not(.disabled) {
		cursor: pointer;
		overflow: visible;

		.btn-blick::after {
			opacity: 0;
		}
	}


	&.disabled {
		cursor: default;
		opacity: 0.5;
	}

	&:active {
		transform: scale(0.95);
	}
}

// блик на кнопке
.btn-blick {
	position: absolute !important;
	left: 0;
	top: 0;
	z-index: 2;
	width: 100%;
	height: 100%;
	border-radius: 0;
	overflow: hidden;

	.main-btn:not(:disabled) &::after,
	.main-btn:not(.disabled) &::after {
		content: "";
		position: absolute;
		left: -100%;
		top: 0;
		width: 4rem;
		height: 100%;
		background: linear-gradient(90deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.4));
		opacity: 0.8;
		animation: blick 6s ease-in-out 2s infinite;
		transform: skewX(-20deg);
		transition: opacity 0.3s ease-in-out;
	}
}


// липкое меню справа
.sidemenu {
	position: fixed;
	right: 0;
	top: 50%;
	z-index: 20;
	width: 10rem;
	transform: translateY(-50%);

	&.hidden {
		pointer-events: none;
	}

	&__close {
		width: 3.3rem;
		height: 3.3rem;
		display: flex;
		align-items: center;
		justify-content: center;
		margin: 0 auto 2.3rem;
		border-radius: 50%;
		background-color: $accent-color;
		transition: background-color 0.3s ease-in-out, transform 0.7s ease-in-out;

		&:hover {
			cursor: pointer;
			background-color: darken($color: $accent-color, $amount: 10%);
		}

		svg {
			width: 0.9rem;
			height: 0.9rem;
			transition: transform 0.7s ease-in-out;
		}

		&.close {
			transform: translateX(10rem);
		}
	}

	&__body {
		flex-direction: column;
		gap: 0.6rem;
		margin-bottom: 2.1rem;
		max-height: 0;
		overflow: hidden;
		transition: max-height 0.7s linear;
	}

	&__item {
		flex-shrink: 0;
		width: 100%;
		height: 10rem;
		padding: 1rem;
		border-radius: 0.5rem 0 0 0.5rem;
		background-color: $accent-color;
		transition: background-color 0.3s ease-in-out;

		&:hover {
			cursor: pointer;
			background-color: darken($color: $accent-color, $amount: 10%);
		}
	}

	&__icon {
		width: auto;
		height: 3rem;
		margin: 0 auto 1rem;
	}

	&__name {
		font-size: 1.2rem;
		line-height: 1rem;
		text-align: center;
		color: #fff;
		cursor: pointer;
	}

	&__top {
		width: 3.3rem;
		height: 3.3rem;
		display: flex;
		align-items: center;
		justify-content: center;
		margin: 0 auto;
		border-radius: 50%;
		background-color: $accent-color;
		transition: background-color 0.3s ease-in-out,
			transform 0.7s ease-in-out;

		svg {
			width: 0.5rem;
			height: 0.5rem;
		}

		path {
			stroke: #fff;
		}

		&:hover {
			cursor: pointer;
			background-color: darken($color: $accent-color, $amount: 10%);
		}

		&.active {
			transform: rotate(180deg);
		}

		&.close {
			transform: translateX(10rem);
		}
	}
}


// кнопка прокрутки наверх
.btn-top {
	position: fixed;
	bottom: -4rem;
	right: 1rem;
	z-index: 10;
	width: 5rem;
	height: 5rem;
	border-radius: 1.5rem;
	display: flex;
	align-items: center;
	justify-content: center;
	background: $accent-color;
	transition: bottom 0.5s ease-in-out, box-shadow 0.3s ease-in-out;

	svg {
		position: relative;
		width: 2.5rem;
		height: 1.3rem;
		transition: bottom 0.3s ease-in-out;
	}

	path {
		fill: #fff;
	}

	&:hover {
		cursor: pointer;
		box-shadow: 0 0 1.2vw rgba(0, 0, 0, 0.2);

		svg {
			bottom: 0.3rem;
		}
	}

	&.active {
		bottom: 1.3rem;
	}
}

// label
.label {
	display: block;
	margin-bottom: 1.2rem;
	padding-left: 4.6rem;
	font-weight: 500;
	font-size: 1.4rem;
	line-height: 1.7rem;
	color: #fff;
}

// input
.input {
	display: flex;
	align-items: center;
	width: 100%;
	padding: 4.1rem 4.6rem;
	border-radius: 1.5rem;
	background-color: #fff;
	font-family: "Cera Pro";
	font-size: 1.4rem;
	line-height: 1.8rem;
	color: black;
	letter-spacing: 0.03em;

	&::placeholder {
		font-family: inherit;
		font-weight: inherit;
		font-size: inherit;
		line-height: inherit;
		letter-spacing: inherit;
		color: $main-color;
	}

	&:focus {
		border-color: $accent-color;
	}
}

// согласие с чекбоксом
.agree {
	display: flex;
	align-items: center;

	&__checkbox {
		position: relative;
		flex: 0 0 2rem;
		height: 2rem;
		display: flex;
		align-items: center;
		justify-content: center;
		margin-right: 0.9rem;
		border-radius: 0.7rem;
		background: transparent;
		border: 0.1rem solid $accent-color;
		cursor: pointer;

		&::after {
			content: '';
			width: 0.8rem;
			height: 0.6rem;
			background: url('../media/svg/check.svg') 0 0 / 100% 100% no-repeat;
			display: none;
		}

		&.check {
			background: $accent-color;

			&::after {
				display: block;
			}
		}
	}

	&__text {
		// flex: 1 1 auto;
		font-size: 1rem;
		line-height: 150%;
		color: #fff;
		cursor: default;
	}

	&__link {
		font-size: 1rem;
		line-height: 150%;
		color: $accent-color;
		text-decoration: underline;

		&:hover {
			cursor: pointer;
			text-decoration: none;
		}
	}
}

// стрелки слайдера
.slider-btn {
	position: absolute;
	z-index: 5;
	width: 5rem;
	height: 5rem;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: background-color 0.3s ease-in-out;
	background-color: $accent-color;

	&--prev {
		left: 0;
		transform: translateX(-50%);
	}

	&--next {
		right: 0;
		transform: translateX(50%);
	}

	path {
		fill: #fff;
		transition: fill 0.3s ease-in-out;
	}

	svg {
		width: 1.8rem;
		height: 1.8rem;
	}

	&:hover {
		background: darken($color: $accent-color, $amount: 10%);
		cursor: pointer;
	}

	&.swiper-button-disabled {
		background: $gray-2;

		path {
			fill: #959595;
		}
	}

	&.swiper-button-disabled:hover {
		cursor: default;
	}
}

.select {
	width: 100%;
	font-family: 'Cera Pro', sans-serif;
	font-size: 1.4rem;
	line-height: 1.8rem;
	color: $main-color;
	position: relative;
	z-index: 1;

	& .custom-select-opener {
		background-color: #f9f9f9;
		padding: 4.1rem 4.6rem;
		border-radius: 1.5rem;
		position: relative;

		&::after {
			content: "";
			position: relative;
			display: inline-block;
			top: 50%;
			right: -1.5rem;
			width: 0.8rem;
			height: 0.8rem;
			border-left: 0.1rem solid $gray-1;
			border-bottom: 0.1rem solid $gray-1;
			transform: translateY(-50%) rotate(-45deg);
			transition: transform 0.3s ease-in-out;
		}
	}

	& .custom-select-panel {
		background-color: #f9f9f9;
		top: 100%;
		z-index: 1;
	}

	& .custom-select-container.is-open .custom-select-opener {
		box-shadow: 0 0.42rem 0.5rem rgba(0, 0, 0, 0.1);
		z-index: 3;
	}

	& .custom-select-container.is-open .custom-select-panel {
		max-height: fit-content;
		padding-top: 3rem;
		top: calc(100% - 2rem);
		border-radius: 0 0 1.5rem 1.5rem;
	}

	& .custom-select-container.is-open .custom-select-opener::after {
		transform: translateY(19%) rotate(135deg);
	}

	& .custom-select-option {
		padding: 2.5rem 4rem;
	}

	& .custom-select-option.has-focus {
		background-color: #e6e6e6;
	}
}

.select-social {
	position: relative;
	z-index: 5;

	&__img {
		position: absolute;
		z-index: 5;
		top: 50%;
		right: 1.25vw;
		transform: translateY(-50%);

		&.active {
			z-index: 6;
		}
	}

	.social__item-telegram,
	.social__item-whatsapp {
		display: none;
		width: 3.6rem;
		height: 3.6rem;

		&.active {
			display: flex;
		}
	}
}

// пагинация
.swiper-pagination {
	.swiper-pagination-bullet {
		width: 0.7rem;
		height: 0.7rem;
		margin: 0 0.45rem;
		background-color: $gray-2;
		opacity: 1;
	}

	.swiper-pagination-bullet-active {
		background-color: $accent-color !important;
	}
}

.mobile {
	display: none;
}


@media (max-width: 768px) {

	html {
		font-size: 3.125vw;
	}

	@keyframes radial-pulse {
		0% {
			box-shadow: 0 0 0 0 rgba($color: $accent-color, $alpha: 0.5);
		}

		100% {
			box-shadow: 0 0 0 0.7rem rgba(207, 241, 207, 0);
		}
	}

	.desktop {
		display: none;
	}

	.mobile {
		display: flex;
	}

	.container {
		max-width: 100%;
		padding: 0 2.2rem;
	}

	.section-title {
		font-size: 2.4rem;
		line-height: 3.2rem;

		&__up {
			margin-bottom: 0.8rem;
			font-size: 4.6rem;
			line-height: 5.6rem;
		}
	}

	.main-btn {
		padding: 2.8rem;

		&__arrow {
			flex: 0 0 1.4rem;
			width: 1.4rem;
			height: 1.4rem;
		}

		&--green {
			font-size: 1.4rem;
			line-height: 1.6rem;
		}

		&--transparent {
			padding: 1.2rem;
			line-height: 2.8rem;

			&:hover {

				&::before,
				&::after {
					width: 20rem;
					height: 20rem;
				}
			}
		}
	}

	.btn-blick {

		.main-btn:not(:disabled) &::after,
		.main-btn:not(.disabled) &::after {
			width: 5rem;
		}
	}

	// label
	.label {
		padding-left: 1.6rem;
		margin-bottom: 0.9rem;
	}

	// input
	.input {
		padding: 2.3rem 1.6rem;
	}

	.agree {

		&__checkbox {
			flex: 0 0 1.4rem;
			width: 1.4rem;
			height: 1.4rem;
			margin-right: 1.5rem;
			border-radius: 0.4rem;

			&::after {
				width: 0.5rem;
				height: 0.4rem;
			}
		}

		&__text,
		&__link {
			font-size: 1rem;
			line-height: 1.5rem;
		}
	}

	.slider-btn {
		width: 3.2rem;
		height: 3.2rem;

		svg {
			width: 0.8rem;
			height: 0.8rem;
		}
	}

}